<!-- Home.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>

    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size: 7em;
        }
    </style>
</head>

<body>

    <center>This is our home page.</center>
    <p>Visit our contact us page <a href="/contact">Contact</a></p>
</body>
</html>
